@page "/customers/details"
@using Microsoft.EntityFrameworkCore
@using LevelUP.Domain
@inject IDbContextFactory<LevelUP.Data.LevelUPContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Customer</h2>
    <hr />
    @if (customer is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">UserName</dt>
            <dd class="col-sm-10">@customer.UserName</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@customer.Email</dd>
            <dt class="col-sm-2">XPAmount</dt>
            <dd class="col-sm-10">@customer.XPAmount</dd>
            <dt class="col-sm-2">Rank</dt>
            <dd class="col-sm-10">@customer.Rank</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@customer.UserId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@customer.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@customer.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@customer.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@customer.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/customers/edit?customerid={customer.CustomerId}")">Edit</a> |
            <a href="@($"/customers")">Back to List</a>
        </div>
    }
</div>

<style>
    /* Push content down below the navigation bar */
    .container {
        margin-top: 50px; /* Adjust if necessary based on navbar height */
        padding: 20px;
    }

    /* Make all text white */
    body {
        color: white;
    }

    .table {
        color: white;
    }
</style>

@code {
    private Customer? customer;

    [SupplyParameterFromQuery]
    private int CustomerId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        customer = await context.Customer.FirstOrDefaultAsync(m => m.CustomerId == CustomerId);

        if (customer is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
