@page "/userquests/details"
@using Microsoft.EntityFrameworkCore
@using LevelUP.Domain
@inject IDbContextFactory<LevelUP.Data.LevelUPContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>UserQuest</h2>
    <hr />
    @if (userquest is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CustId</dt>
            <dd class="col-sm-10">@userquest.CustId</dd>
            <dt class="col-sm-2">QuestId</dt>
            <dd class="col-sm-10">@userquest.QuestId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@userquest.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@userquest.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@userquest.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@userquest.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/userquests/edit?id={userquest.Id}")">Edit</a> |
            <a href="@($"/userquests")">Back to List</a>
        </div>
    }
</div>

@code {
    private UserQuest? userquest;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        userquest = await context.UserQuest.FirstOrDefaultAsync(m => m.Id == Id);

        if (userquest is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
